[submodule "05_lab/aws_list_all."]
	path = 05_lab/aws_list_all.
	url = git@github.com:JohannesEbke/aws_list_all.git
[submodule "06_lab/cis21-assignment6"]
	path = 06_lab/cis21-assignment6
	url = git@gitlab.lrz.de:ebke-2021/cis21-assignment6.git
